@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
}

.dark {
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
}

[data-theme-color="default"] {
  --primary: 240 5% 34%;
  --primary-foreground: 240 5.9% 10%;
}

.dark[data-theme-color="default"] {
  --primary: 0 0% 90%;
  --primary-foreground: 240 5.9% 10%;
}

[data-theme-color="blue"] {
  --primary: 217 91% 78%;
  --primary-foreground: 240 6% 10%;
}

[data-theme-color="green"] {
  --primary: 142 77% 75%;
  --primary-foreground: 240 6% 10%;
}

[data-theme-color="yellow"] {
  --primary: 45 95% 77%;
  --primary-foreground: 240 6% 10%;
}

[data-theme-color="rose"] {
  --primary: 351 94% 71%;
  --primary-foreground: 0 0% 100%;
}

[data-theme-color="violet"] {
  --primary: 255 95% 85%;
  --primary-foreground: 240 6% 10%;
}

[data-theme-color="pink"] {
  --primary: 325 94% 69%;
  --primary-foreground: 240 6% 10%;
}

[data-theme-color="orange"] {
  --primary: 0 88% 80%;
  --primary-foreground: 240 6% 10%;
}

@theme {
  --font-sans: "inter";
  --font-vectra: "vectra";
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
}

@layer base {
  @font-face {
    font-family: "vectra";
    src: url("/fonts/vectra.woff") format("woff");
  }

  @font-face {
    font-family: "inter";
    src: url("/fonts/inter.woff2") format("woff2");
  }

  :root {
    --scrollbar-thumb: #e6e7eb;
    --bg-invert: #3f3f47;
    --color-secondary: #d4d3d8;

  }

  .dark {
    --scrollbar-thumb: #202020;
    --bg-invert: #fff;
    --color-secondary: #3f4045;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* effect Circle Expand */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

  /* effect menu */
  .hamburger input {
    display: none;
  }

  .hamburger svg {
    height: 2em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: var(--bg-invert);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* effect Heart*/
  .heart-container {
    --heart-color: rgb(204, 204, 204);
    position: relative;
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }

  .heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }

  .heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heart-container .svg-outline,
  .heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
  }

  .heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }

  .heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: rgb(255, 91, 137);
    fill: rgb(255, 91, 137);
    stroke-width: 2px;
  }

  .heart-container .checkbox:checked ~ .svg-container .svg-filled {
    display: block;
    --heart-color: rgb(255, 91, 137);
  }

  .heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
    display: block;
  }

  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
      filter: brightness(1.5);
      --heart-color: rgb(255, 91, 137);
    }
  }

  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }

  /* effect Fade In Up */
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.4s ease-out forwards;
  }
}
