---
// import Footer from "./Footer";
---

<!-- <Footer client:load /> -->
<footer class="text-center mt-32">
  <p class="text-md text-zinc-400 dark:text-zinc-600 mb-4">© Build by Jarcy</p>
</footer>
