---
// import Footer from "./Footer";
---

<!-- <Footer client:load /> -->
<footer class="text-center mt-32">
  <p class="text-md text-zinc-400 dark:text-zinc-600 mb-4">© Build by Jarcy</p>

  <div
    class="fixed -top-7 left-8 sm:-top-4 h-30 flex justify-center items-center"
  >
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="50px"
      viewBox="0 0 544 544"
      enable-background="new 0 0 544 544"
      xml:space="preserve"
    >
      <style>
        .path-draw {
          fill: transparent;
          stroke: var(--bg-invert);
          stroke-width: 3;
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          animation: draw 3s ease-in-out infinite alternate;
        }
        @keyframes draw {
          0% {
            stroke-dashoffset: 100;
            fill: transparent;
          }
          50% {
            stroke-dashoffset: 0;
            fill: transparent;
          }
          100% {
            stroke-dashoffset: 0;
            fill: var(--bg-invert);
          }
        }
      </style>

      <path
        class="path-draw"
        pathLength="100"
        d="
		M160.000000,446.118835 
		C119.837532,446.123932 80.175072,446.131042 40.512608,446.117249 
		C39.075871,446.116760 37.310425,446.778229 36.347206,445.272308 
		C35.184494,443.454590 36.946796,442.271057 37.726376,440.875488 
		C46.497776,425.173004 55.240971,409.454773 63.999222,393.744934 
		C75.920631,372.361328 87.915039,351.017944 99.719467,329.570007 
		C102.180153,325.099030 105.314301,323.518341 110.511383,323.538025 
		C164.172684,323.741455 217.835205,323.611511 271.496796,323.770172 
		C276.142822,323.783905 278.571014,322.272247 280.792938,318.170898 
		C303.245636,276.726929 325.939484,235.413666 348.552094,194.056290 
		C361.576263,170.235687 374.605835,146.417877 387.548126,122.552765 
		C389.166321,119.568901 390.803101,117.570229 394.704010,117.577766 
		C436.699432,117.658989 478.695190,117.573929 520.690857,117.551048 
		C521.167053,117.550789 521.643433,117.771492 522.143494,117.894928 
		C523.147644,119.801102 521.689453,121.079849 520.963257,122.431984 
		C494.334991,172.013519 467.549896,221.511230 441.045532,271.158813 
		C411.009827,327.421265 381.179565,383.793671 351.408020,440.196381 
		C349.126740,444.518280 346.668365,446.462402 341.483154,446.439728 
		C281.156097,446.175781 220.827896,446.182404 160.000000,446.118835 
	z"
      ></path>

      <path
        class="path-draw"
        pathLength="100"
        d="
		M245.445404,206.736908 
		C251.138504,230.488037 256.756592,253.832367 262.406738,277.309875 
		C259.881348,278.383392 258.451172,277.021729 256.955200,276.194031 
		C209.752609,250.077423 162.560593,223.941711 115.362274,197.817413 
		C106.836075,193.098160 106.722633,192.677811 114.864868,187.129593 
		C149.401505,163.595947 183.991287,140.140213 218.584808,116.690186 
		C220.036041,115.706436 221.399979,114.169380 223.868729,115.027367 
		C231.005234,145.331238 238.187805,175.830658 245.445404,206.736908 
		M212.354050,234.076096 
		C219.493164,238.014481 226.628784,241.959198 233.774155,245.886215 
		C235.312408,246.731644 236.834167,248.535263 238.697418,247.084686 
		C240.600739,245.602921 239.049469,243.648270 238.663284,241.993912 
		C231.912674,213.076065 225.192108,184.150452 218.220612,155.285568 
		C216.893707,149.791580 216.618546,143.906662 213.480438,138.237671 
		C187.556168,155.947571 162.098526,173.338715 135.592987,191.445709 
		C161.546387,205.850372 186.633621,219.774292 212.354050,234.076096 
	z"
      ></path>
    </svg>
  </div>

  <div
    class="fixed mx-4 sm:mx-8 bottom-[7px] sm:bottom-2 left-0 right-0 h-12 bg-linear-to-t from-neutral-50 via-nefrom-neutral-50/80 dark:from-zinc-950 dark:via-zinc-950/80 to-transparent pointer-events-none"
  >
  </div>
</footer>
