---
// import Footer from "./Footer";
---

<!-- <Footer client:load /> -->
<footer class="text-center mt-32">
  <p class="text-md text-zinc-400 dark:text-zinc-600 mb-4">© Build by Jarcy</p>

  <!-- <div
    class="fixed bottom-2 left-0 right-0 h-20 bg-linear-to-t from-zinc-950 via-zinc-950/80 to-transparent pointer-events-none"
  >
  </div> -->
</footer>
